RewriteEngine On
RewriteRule ^Home/ index.php [L]
RewriteRule ^Home index.php [L]
RewriteRule ^Blog/ blog-full.php [L]
RewriteRule ^Blog blog-full.php [L]
RewriteRule ^Contact/ contact.php [L]
RewriteRule ^Contact contact.php [L]
RewriteRule ^Overview/ about_us.php [L]
RewriteRule ^Overview about_us.php [L]
RewriteRule ^overview about_us.php [L]
RewriteRule ^login/ login.php [L]
RewriteRule ^login login.php [L]
